.cellars-template {

	.page-content {
		margin-top: 7rem;

		.table-list {

			.table-row {
				margin-bottom: 3rem;
			}

			.cellar {
				width: 25.9%;
			}

			.status {
				width: 20%;
			}

			.type {
				width: 22%;
				text-align: center;
			}

			.date {
				width: 25%;
				text-align: center;
			}

			.price {
				width: 15%;
				text-align: center;
			}

			.action {
				width: 8rem;
				height: 8.2rem;
				
				&:hover {
					background: #fa686f;
				}
			}
		}
	}

	.icon {
		width: 3rem;
		height: 3rem;
		display: block;
		margin: auto;
		border-radius: 50%;
		border: 1px solid #cfdbe6;

		&.status-ok {
			background: #3cb878;
		}

		&.status-ko {
			background: #e0363d;
		}
		
		&.status-soon-ko {
			background: #f29712;
		}
	}

	.status-legend {
		margin-bottom: 5rem;
		color: $gray;
		font-style: italic;
		font-size: 1.5rem;

		.status {
			margin-right: 4rem;

			.icon {
				vertical-align: middle;
				display: inline-block;
				width: 1.75rem;
				height: 1.75rem;
			}
		}
	}
	
	.table-cell-header.action {
		background: #f8f7fa !important;
		height: 8.2rem !important;
	}
}