.cellars-template {

	.page-content {
		margin-top: 7rem;

		.table-list {
			margin-bottom: 5rem;

			.table-row {
				margin-bottom: 3rem;
			}

			.cellar {
				width: 24%;
			}

			.status {
				width: 18%;

				.icon {
					width: 3rem;
					height: 3rem;
					display: block;
					margin: auto;
					border-radius: 50%;
					border: 1px solid #cfdbe6;

					
					&.status-ok {
						background: #3cb878;
					}
					
					&.status-ko {
						background: #e0363d;
					}
				}
			}

			.type {
				width: 18%;
				text-align: center;
			}

			.date {
				width: 18%;
				text-align: center;
			}

			.price {
				width: 15%;
				text-align: center;
			}
		}

		.add-cellar-button {
			width: 100%;
			display: block;
			padding: 2.5rem 0;

			text-align: center;
			text-indent: -999rem;
			background: #e0363d url('../img/generic/add.png') no-repeat center;

			&:hover {
				background-color: lighten(#e0363d, 5%);
			}
		}
	}
}