.contact-template {

    .left-content {
        float: left;
        width: 44%;
        margin-right: 7%;

        .page-header {
            margin-bottom: 5rem;
        }

        .info {
            font-size: 2.2rem;
        }
    }
}