.alert {
    padding: 1rem;
    margin-bottom: 3rem;

    color: $dark-blue;

    border: 1px solid $dark-blue;
    background: #f7fafa;

    &.alert-danger {
        color: #e0363d;

        border-color: #e0363d;
        background-color: rgba(224, 54, 61, 0.1);
    }
}