.button {
	padding: 1rem 4rem;

	color: white;
	font-family: $main-font;
	font-weight: 400; 
	font-size: 1.6rem;
	text-decoration: none;

	border: 1px solid white; 
	border-radius: 3rem;
	background: none;

	transition-duration: 0.3s;
	transition-property: background;

	&:hover {
		color: $black;
		text-decoration: none;

		background: white;
	}
}

.red-button {
	padding: 1.5rem 6rem;

	color: white;

	background: $red;
	border-radius: 0;

	&:hover {
		color: white;
		cursor: pointer;
		
		background: lighten($red, 10%);
	}
}

.add {
	width: 100%;
	display: block;
	padding: 2.5rem 0;

	text-align: center;
	text-indent: -999rem;
	background: #f83740 url('../img/generic/add.png') no-repeat center;

	&:hover {
		background-color: lighten(#e0363d, 5%);
	}
}