form {

	.required {
		margin-left: 0.5rem;

		font-weight: bold;
		font-size: 1.6rem;
		color: #e0363d;
		vertical-align: middle;
	}

	.legend {
		vertical-align: middle;
		font-size: 1.4rem;
	}

	.form-group {
		margin-bottom: 2rem;

		input[type="text"], input[type="password"], select, textarea {
		    padding: 2rem;
		    width: 100%;

		    font-family: $main-font;
		    font-size: 1.6rem;
		    color: black;
		    cursor: pointer;
		    
		    background: #f8f7fa;
		    border: 1px solid #cfdbe6;
		    border-radius: 1px;
		    box-shadow: none;
			outline: 0;

		    &:not([disabled]):focus, &:not([disabled]):hover, &:disabled, &:disabled {
				border-color: #f1f4f7;
		    	background-color: #fdfdfd;
		    }

			&:disabled, &:disabled {
				color: #a9b2ba;
				cursor: default;
			}
		}

		select {
			-webkit-appearance: none;
			
			color: #a9b2ba;

			background: #f8f7fa url('../img/signup/bg-select.png') no-repeat right 2rem center;
		}

		label {
		    display: block;

		    color: black;
		}

		i {
			font-style: italic;
			font-size: 1.25rem;
			color: $gray;
		}

		.radio {
			display: inline-block;
			margin-right: 6rem;

			color: #a9b2ba;
			font-style: italic;

			input[type="radio"] {
				width: 2rem;
				height: 2rem;

				vertical-align: middle;

				appearance: button;
				-webkit-appearance: button;
				-moz-appearance: button;
				-ms-appearance: button;
				border-radius: 50%;
				border: 1px solid #a9b2ba;
				outline: 0;

				&:enabled {
					cursor: pointer;
				}

				&:checked, &:enabled:hover {
					background-color: #114a83;
				}
			}
		}
	}
}