* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
}

strong {
	font-weight: bold;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
} 

.table-list {
	width: 100%;
	vertical-align: middle;

    border-collapse:separate;
    border-spacing: 0 2.7rem;
	
	.table-row {
		overflow: hidden;
		
		.table-cell {
			float: left;
			padding: 2.5rem 5rem;

			background: #f8f7fa;
			border-top: 1px solid #cfdbe6;
			border-bottom: 1px solid #cfdbe6;

			&:first-child {
				border-left: 1px solid #cfdbe6;
			}

			&:last-child {
				border-right: 1px solid #cfdbe6;
			}

			&.table-cell-header {
				padding-left: 2rem;
				padding-right: 2rem;

				text-align: center;
				color: #a9b2ba;
				font-style: italic;
				font-family: $third-font;
				font-weight: 300;
			}
			
			button {
				width: 7.6rem;
				height: 7.6rem;
				
				text-indent: -999rem;
				cursor: pointer;

				background-color: #f83740;
				background-position: center center;
				background-repeat: no-repeat;
				border: none;

				&:hover {
					background-color: lighten(#f83740, 10%);
				}
			}

			.edit {
				background-image: url(../img/generic/edit.png);
			}
		}
	}
}

.text-content {

	h2 {
		margin-bottom: 3.5rem;

		font-size: 3rem;
		font-weight: 700;
	}

	a {
		font-weight: 700;
		color: $blue;
	}

	section {
		margin-bottom: 10rem;
	}
}