$main-font: "Roboto";
$secondary-font: "AgencyFB";
$secondary-bold-font: "AgencyFBBold";
$third-font: "Open Sans";
$fourth-font: "Open Sans Condensed";

$black: #000;
$blue: #1e95c9;
$dark-blue: #114a83;
$gray: #8f8f8f;
$light-gray: #f8f7fa;
$red: #e0363d;