.modal {
    padding: 5rem;

    h2 {
        color: $blue;

        font-weight: 700;
        font-size: 4.2rem;
        margin-bottom: 2rem;

        &:after {
            content: " ";
            width: 1.8rem;
            height: 0.3rem;
            display: block;
            margin-top: 1.5rem;
            margin-bottom: 3.5rem;
            background: $blue;
        }
    }

    .warning {
        display: block;
        margin-bottom: 0.5rem;

        color: $red;
        font-family: $main-font;
        font-size: 1.8rem;
        font-style: italic;
    }
    
    form {
        padding-left: 10rem;
        padding-right: 10rem;
        margin-top: 5rem;
    }

    .back-button {
        margin-top: 2rem;
        display: block;
        float: left;
    }
}