.sales {
	color: white;

    background-position: top center;

	.slider-container {
		overflow: hidden;
		position: relative;

		.sales-slider {
			position: relative;

			.slick-slide {
				height: 58.5rem;
				padding: 3rem 6rem 0rem 6rem;
				position: relative;

				&:before {
					position: absolute;
					content: "";
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 2;

					background: rgba(0, 0, 0, 0.25);
				}
				
				&:nth-child(2) {
					&:before {
						display: none;
					}
				}

				.bottle {
					position: absolute;
					bottom: -5rem;
					z-index: 2;
				}

				.background {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 1;

					background-color: black;
					background-repeat: no-repeat;
				}

				.content {
					position: relative;
					z-index: 2;
					margin-left: 20rem;

					font-size: 1.7rem;

					.sale-subtitle {
						display: block;
						margin-bottom: 1rem;
				  		text-transform: uppercase;
						font-size: 1.8rem;
					}

					.sale-name {
						display: block;

						line-height: 4rem;
						font-weight: 700;
						font-size: 4rem;

						&:after {					
						    content: " ";
						    display: block;
						    width: 1.8rem;
						    height: 0.3rem;
						    margin-top: 0.75rem;
						    margin-bottom: 1.5rem;

						    background: white;
						}
					}

					.sale-comments {
						margin-right: -4rem;
						float: right;
					}
					
					p {
						margin-bottom: 1rem;
					}
				}

				.sale-price {
					z-index: 5;
					position: absolute;
					bottom: 11rem;
					right: 6rem;

					text-align: center;

					.club_premium_price_label {
						display: block;
						margin-bottom: 0.5rem;
						text-transform: uppercase;
						font-style: italic;
						font-size: 1.2rem;
					}

					.prices {
						font-size: 2.5rem;
						font-weight: 700;
					}

					.standard {
						text-decoration: line-through;
					}
				}

				.button {
					z-index: 5;
					position: absolute;
					bottom: 4rem;
					right: 4rem;

					border-radius: 0;
					border: 2px solid white;
					color: white;

					&:hover {
						color: black;
					}
				}
			}
		}

	  	.sales-slider-arrows {
			.slick-arrow {
	  			position: absolute;
			    width: 2.7rem;
			    height: 6.1rem;
			    z-index: 5;
			    top: 40%;

				text-indent: -9999px;
				cursor: pointer;
				outline: 0;

	  			border: none;

		  		&.slick-prev {
		  			left: 2rem;
		  			background: url(../img/home/sales/prev.png) no-repeat center center;
		  		}

		  		&.slick-next {
		  			right: 2rem;
		  			background: url(../img/home/sales/next.png) no-repeat center center;
		  		}

		  		&:hover {
		  			opacity: 0.8;
		  		}
			}
	  	}
	}
}

.sales-navigation {
	overflow: hidden;
	margin-bottom: 7.3rem;

	li {
		float: left;
		margin-right: 3rem;
		margin-bottom: 3rem;
		width: 350px;
		height: 180px;
		position: relative;
		opacity: 0.5;
		overflow: hidden;

		font-size: 1.8rem;
		color: #eeeeee;
		text-transform: uppercase;
		cursor: pointer;

		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			left: 0.75rem;
			right: 0.75rem;
			bottom: 0.75rem;
			top: 0.75rem;

			border: 1px solid #eee;
		}

		&.active {
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}

		.sale-background {
			img {
				width: 100%;
				height: auto;
			}
			position: absolute;
			z-index: 1;
		}

		.sale-name {
			height: 100%;
			padding-top: 7rem;
			display: block;
			text-align: center;
			position: relative;
			z-index: 2;
		}

		a {
			display: block;
			height: 100%;

			text-decoration: none;
			color: white;

		}
	}
}