.sales {
	color: white;

    background-position: top center;

	.slider-container {
		overflow: hidden;
		position: relative;

		.sales-slider {
			position: relative;

			/*&:before {
				position: absolute;
				content: "";
			    left: 1.5rem;
			    right: 1.5rem;
			    top: 0;
			    bottom: 3.1rem;

				background: rgba(0, 0, 0, 0.25);
			}*/
			
			.slick-slide {
				padding: 5rem 8rem 0rem 8rem;
				position: relative;

				.bottle {
					position: absolute;
					bottom: -5rem;
					z-index: 2;
				}

				.background {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 1;

					background-color: black;
					background-repeat: no-repeat;
				}

				.content {
					position: relative;
					z-index: 2;
					margin-left: 20rem;

					font-size: 1.7rem;

					.sale-subtitle {
						display: block;
						margin-bottom: 1rem;
				  		text-transform: uppercase;
						font-size: 1.8rem;
					}

					.sale-name {
						display: block;

						line-height: 5rem;
						font-weight: 700;
						font-size: 6rem;

						&:after {					
						    content: " ";
						    display: block;
						    width: 1.8rem;
						    height: 0.3rem;
						    margin-top: 1.5rem;
						    margin-bottom: 3.5rem;

						    background: white;
						}
					}

					.button {
						float: right;
						position: relative;
						top: -7rem;

						border-radius: 0;
						border: 2px solid white;
						color: white;

						&:hover {
							color: black;
						}
					}
				}
			}
		}

	  	.sales-slider-arrows {
			.slick-arrow {
	  			position: absolute;
			    width: 2.7rem;
			    height: 6.1rem;
			    z-index: 5;
			    top: 35%;

				text-indent: -9999px;
				cursor: pointer;
				outline: 0;

	  			border: none;

		  		&.slick-prev {
		  			left: 3rem;
		  			background: url(../img/home/sales/prev.png) no-repeat center center;
		  		}

		  		&.slick-next {
		  			right: 3rem;
		  			background: url(../img/home/sales/next.png) no-repeat center center;
		  		}

		  		&:hover {
		  			opacity: 0.8;
		  		}
			}
	  	}
	}
}

.sales-navigation {
	overflow: hidden;
	margin-bottom: 7.3rem;

	li {
		float: left;
		margin-right: 3rem;
		margin-bottom: 3rem;
		width: 350px;
		height: 157px;
		position: relative;
		opacity: 0.5;

		font-size: 1.8rem;
		color: #eeeeee;
		text-transform: uppercase;
		cursor: pointer;

		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			left: 0.75rem;
			right: 0.75rem;
			bottom: 0;
			top: 0.75rem;

			border: 1px solid #eee;
		}

		&.active {
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}

		.sale-background {
			img {
				width: 100%;
				height: auto;
			}
			position: absolute;
			z-index: 1;
		}

		.sale-name {
			padding-top: 7rem;
			display: block;
			text-align: center;
			position: relative;
			z-index: 2;
		}
	}
}