/******************************************
	IMPORTS
******************************************/
@import "vendor/_reset";
@import "vendor/_grid";
@import "vendor/_slick"; 

@import "includes/_variables";
@import "includes/_typography";
@import "includes/_forms";
@import "includes/_sprites";
@import "includes/_buttons";
@import "includes/_structure";
@import "includes/_utils";
@import "includes/_alerts";

@import "partials/_header";
@import "partials/_footer";
@import "partials/_banner";
@import "partials/_sales-slider.scss";

@import "pages/_home";
@import "pages/_signup";
@import "pages/_cellars";
@import "pages/_cellar-update";
@import "pages/_club-premium";

@import "includes/_responsive";