.admin-template {

    .page-header {
        margin-bottom: 4rem;

        h1 {
            &:after {
                display: none;
            }
        }
    }

    table.table-list {

        .table-row {
            .table-cell {
                float: none;
            }
        }
    }

    h2 {
        margin-bottom: 2.5rem;

        font-size: 3.5rem;
        font-weight: 700;
        line-height: 3.5rem;
    }
    
    .current-filter {
        a {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.lang-flag {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.preview-button {
    float: right;

    background: #1e95c9;
    padding: 1.0rem 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: white !important;
    cursor: pointer;
    border: none;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0;

    &:hover {
        opacity: 0.9;
        background: #1e95c9;
    }
}